body{
    padding: 100px;
    background-color: beige;
}

div{
    transition: 5s;
}

#face{
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background-color:rgba(168, 73, 223, 0.726);
    border: 1px solid black;
    position: relative;
}

#face:hover{
    cursor: help;
    background: transparent radial-gradient(05% 70%, rgba(104, 25, 25, 0.534), rgb(33, 105, 5)) no-repeat 0 0;

}

#face:hover #leftEye{
    left: 100px;
    top: 50px;
    border-radius: 50%;
    background-color:rgb(33, 105, 5);
}

#face:hover #mouth{
    transform: scaleY(2);
}

#face:hover #rightEye{
    left: -50px;
    top: 50px;
    border-radius: 50%;
    background-color:rgb(33, 105, 5);
}

#face:hover #nose{
    background-color:rgb(150, 61, 10);
    top: 425px;
}

#nose{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(110, 8, 8);
    position: absolute;
    top: 240px;
    left: 240px;
}

#leftEyeSocket{
    border-radius: 0%;
    width: 80px;
    height: 80px;
    background-color: white;
    position: absolute;
    top: 120px;
    left: 40px;
    border: .4px solid black;
}

#rightEyeSocket{
    border-radius: 0%;
    width: 80px;
    height: 80px;
    background-color: white;
    position: absolute;
    top: 120px;
    left: 380px;
    border: .4px solid black;
}

#leftEye{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color:rgba(36, 36, 230, 0.884);
    position: absolute;
    top: 30px;
    left: 30px;
}

#rightEye{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(219, 16, 16, 0.596);
    position: absolute;
    top: 30px;
    left: 30px;
}

#mouth{
    width:150px;
    height:50px;
    border-radius:50% 50% 0 0;
    background-color: white;
    position: absolute;
    left: 175px;
    top: 350px;
    border: .4px solid black;
    transform:scaleY(-1);
}